table.calendar {
  border-collapse: collapse;
  caption {
    span {
      margin: 0 20px;
    }
  }
  tr {
    td {
      border: solid 1px;
      div.day {
        font-size: 0.9em;
        padding: 2px;
        text-align: right;
        border-bottom: solid 1px #000000;
      }
      div.day.sunday {
        color: red;
        background: pink;
      }
      div.day.saturday {
        color: blue;
        background: aqua;
      }
      div.day.holiday {
        color: red;
        background: pink;
      }
      div.content {
        padding: 2px;
        width: 80px;
        height: 50px;
      }
      div.content.holiday {
        color: red;
      }
    }
  }
}
